<style media="screen">
#orders{
  color:gray;
}
</style>
<div class = "row">
  <img src="<%= @customer.image_url %>" alt="profile pic" height="300px" class="profilepicture"><br>
  <h5><%=@customer.name%></h5>
  <h5><%=@customer.email%></h5>
  <h5><%=@customer.city%></h5>

</div>
<% if @orders.present? && customer_own_page?%>
  <%= render 'orders' %>
<% end %>
 <div class = "row" id="recentCustomerActivity">
   <!--recent reviews.grab this pages customer-->
   
 </div>
