<h1>Edit for new Food</h1>

<%= form_for @food do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %><br><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br><br>

  <%= f.label :cook_id %>
  <%= f.text_field :cook_id %><br><br>

  <%= f.label :url %>
  <%= f.text_field :url %><br><br>

  <%= f.label :availability %>
  <%= f.text_field :availability %><br><br>

  <%= f.submit %>
<% end %>
