<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div  class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to image_tag("https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2012/png/iconmonstr-home-10.png&r=0&g=0&b=0", alt:"" , height:"40", id:"home"), root_path %>
          <span  class="left hide-on-med-and-down" id="link1"><%= link_to "discover", discover_path %></span>
          <% if logged_in? %>
            <div class = "rightnav">
              <% if session[:customer_id] %>
              <span id = "cartcount" class="left hide-on-med-and-down"><%= @cart_count %></span>
              <img src ="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-shopping-cart-2.png&r=0&g=0&b=0" height="35px" id="shoppingcart">
              <% end %>
              <span id = "settingslink" class="right hide-on-med-and-down">settings</span>
              <span id = "logoutlink" class="right hide-on-med-and-down"><%= link_to "logout", logout_path %></span>
            </div>
          <% end %>
        </div>
      </nav>
  </div>
    <div class="container ">
      <%= yield %>
    </div>
  </body>
</html>
